/* =============================================================================
   SET AVAILABILITY
   ============================================================================= */

article.set-availability {
  margin-bottom: 160px;
}

article.set-availability h2 {
  margin-bottom: 80px;
}

div label + input + span {
  display: block;
  text-align: center;
}

.submit-btn {
  background-color: gray;
  color: black;
  border-radius: 20px;
  padding: 8px 30px;
  width: 50%;
  margin: 20px auto 0;
  margin-top: 50px;
  display: block;
  box-shadow: 15px -15px 0px lightgray;
}

.submit-btn:hover {
  background-color: black;
  color: white;
}

.successToast {
  background-color: gray;
  border-color: black;
}

.toast-header {
  font-size: clamp(1.25rem, 3vw, 30px);
}

.toast-body {
  font-size: 20px;
}

/* =============================================================================
   LISTED AVAILABILITY(UNBOOKED)
   ============================================================================= */

section.listed-availability {
  margin-top: 60px;
}

section.listed-availability div.single-unbooked-appointment {
  background-color: gray;
  color: white;
  border-radius: 20px;
  padding: 8px 30px;
  text-align: center;
  font-size: clamp(1.5rem, 4vw, 55px);
}

.cancel-btn {
  background-color: black;
  color: white;
  border-radius: 20px;
  padding: 32px 50px;
  border: 1px solid black;
  font-size: 30px;
}

.cancel-btn:hover {
  background-color: white;
  color: black;
  border: 1px solid black;
}

article.current-availability-not-booked {
  margin-bottom: 200px;
}

.no-upcoming-availability {
  text-align: center;
  font-size: 40px;
}

/* =============================================================================
   BOOKED SCHEDULE
   ============================================================================= */

section.booked-schedule {
  margin-top: 80px;
  margin-bottom: 120px;
}

section.booked-schedule div.single-booked-appointment {
  background-color: gray;
  color: white;
  border-radius: 20px;
  padding: 8px 30px;
  font-size: 20px;
  border: 2px solid black;
}

.booked-title {
  text-align: center;
  font-size: 25px;
  letter-spacing: 2px;
  color: black;
  text-shadow: 5px 2px 0px lightgray;
}

.single-booked-appointment span {
  display: block;
  text-align: center;
  font-weight: bold;
  color: black;
}

/* =============================================================================
   MOBILE ADJUSTMENTS
   ============================================================================= */

@media (max-width: 576px) {
  .submit-btn {
    width: 100%;
    box-shadow: 8px -8px 0px lightgray;
  }

  .cancel-btn {
    padding: 16px 24px;
    font-size: 20px;
  }
}

@media (max-width: 768px) {
  article.set-availability {
    margin-bottom: 4rem;
  }

  article.current-availability-not-booked {
    margin-bottom: 4rem;
  }

  section.booked-schedule {
    margin-bottom: 4rem;
  }
}
