-> This .env file is not needed in your GitHub repo. In the real world, even though the MONGO_URI & PORT fields are not initialized with sensitive information, it can later be accidently filled out locally and pushed anyway, which would become a vulnerability to your application in the future. Otherwise, no problem with it being in the repo now, but in future projects, just ensure that you uncheck the .env file in each commit to protect your application!
MONGO_URI=
PORT=
