/* =============================================================================
   GLOBAL STYLES
   ============================================================================= */

body {
  font-family: 'Barlow Condensed', sans-serif;
  font-weight: 400;
  font-style: normal;
  overflow-x: hidden;
}

footer {
  background-color: black;
}

a {
  color: black;
  text-decoration: none;
}

/* =============================================================================
     HEADER & NAVBAR
   ============================================================================= */

header.heading {
  position: sticky;
  top: 0;
  z-index: 100;
}

.navbar {
  background-color: black;
}

nav.navbar .navbar-brand,
footer span {
  padding-left: 30px;
  font-size: 55px;
  letter-spacing: 2px;
  color: white;
  text-shadow:
    2px 1px 0px gray,
    5px 2px 0px #2f4f4f;
}

#navbarSupportedContent .nav-link {
  padding: 8px 30px;
  font-size: 35px;
  color: white;
  text-shadow:
    2px 1px 0px gray,
    4px 1px 0px #2f4f4f;
}

#navbarSupportedContent .nav-link.active {
  text-decoration: underline white 5px;
  text-underline-offset: 10px;
}

#navbarSupportedContent .nav-link:hover {
  text-decoration: underline white 5px;
  text-underline-offset: 10px;
}

#navbarSupportedContent .nav-link.sign-out {
  padding: 8px 30px;
  font-size: 35px;
  color: red;
  text-shadow:
    2px 1px 0px lightgray,
}

/* =============================================================================
    SUBTITLES ON PAGES
   ============================================================================= */

@keyframes slideDown {
  from {
    transform: translateY(-50px);
    opacity: 0;
  }
  to {
    transform: translateY(0);
    opacity: 1;
  }
}

article.patients-display h2,
article.book-appointment h2,
article.sign-in.visible h2,
article.why-us.visible h2,
section.what-is-pt-portal h2,
span.pt-portal-title.visible {
  animation: slideDown 1.8s ease forwards;
}

article.sign-in h2,
article.why-us h2 {
  text-align: center;
  display: block;
  font-size: 125px;
  letter-spacing: 2px;
  margin-top: 100px;
  color: black;
  text-shadow:
    2px 1px 0px gray,
    5px 2px 0px lightgray;
}

article.patients-display h2,
article.book-appointment h2,
article.availability-booked h2,
article.current-availability-not-booked h2,
section.what-is-pt-portal h2,
article.set-availability h2,
section.pt-portal-platform h2,
article.pt-portal-users h2 {
  text-align: center;
  display: block;
  font-size: 90px;
  letter-spacing: 2px;
  margin-top: 100px;
  color: black;
  text-shadow:
    2px 1px 0px gray,
    5px 2px 0px lightgray;
}
